

<div class="row" style="margin-left: 40px;">
    <p class="form-inline">
        <label>账号同步检测周期</label>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
    </p>
    <p class="form-inline">
        <label>是否开启确认模式</label>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
    </p>
    <p class="form-inline">
        <label>同步组件</label>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3" style="margin-left:55px;">
    </p>
</div>
<div class="line">ldap设置</div>
