{% extends 'base.html' %}
{% load static %}


{% block active_usr_extends %}active{% endblock %}

{%  block content %}

<table class="table table-bordered">
    <thead>
        <tr>
          <th>用户名</th>
          <th>英文名</th>
          <th>职位</th>
          <th>详细信息</th>
          <th>手机号</th>
          <th>创建时间</th>
          <th>修改时间</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    </tbody>
</table>

{% endblock %}